.App {
  font-family: sans-serif;
  text-align: center;
}

html body {
  width: 100%;
  background-color: white;
  margin: 0;
}

h1 {
  margin-bottom: 2px;
}

h2 {
  margin-top: 0;
}

#container {
  border: 1px solid silver;
  background-color: white;
}

#container * {
  box-sizing: border-box;
}

#piano-roll {
  clear: left;
}

.octave, .top-note {
  display: flex;
}



.white-key {
  width: 95px;
  height: 36px;
  background-color: white;
}

.black-key {
  width: 55px;
  height: 21px;
  background-color: #696969;
  z-index: 1;
  position: absolute;
  border: 1px solid gray;
}



/*
.w-key.active {
  background-color: #e7feff;
}

.active-current {
  background-color: #f5deb3;
}

.now {
  background-color: #eff7ff;
}
*/
/* tr:nth-child(odd) {
  background-color: #e7feff;
}

tr:nth-child(even) {
  background-color: #d4f1f9;
} */
/*
レイアウトはとりあえずこれでOK
懸念点は描画スピード。鍵盤が増えたり、尺が伸びたときの影響が心配。

次にやること
・ローカルにうつして、Git管理しようかな？
・マウスホバー、currentStep で明度を上げる
・音によって色を変える　
.active:nth-child(11) でできるかな？

*/
