.App {
  font-family: sans-serif;
  text-align: center;
}

html body {
  width: 100%;
  background-color: white;
  margin: 0;
}

h1 {
  margin-bottom: 2px;
}

h2 {
  margin-top: 0;
}

#piano-roll {
  border: 1px solid silver;
  background-color: white;
}

#piano-roll * {
  box-sizing: border-box;
}

.octave, .top-note {
  /*height: 252px;*/
  display: flex;
}

.keyboard {
  position: relative;
}

.keyboard > div {
  border: 1px solid black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.white-key {
  width: 55px;
  height: 36px;
  background-color: white;
}

.black-key-common {
  width: 55px;
  height: 21px;
  background-color: #696969;
  z-index: 1;
  position: absolute;
  border: 1px solid gray;
}

.C.top {

}

.C.top.only {
  height: 21px !important;
}

.Bb {
  top: 21px;
  left: 0px;
}

.Ab {
  top: 63px;
  left: 0px;
}

.Gb {
  top: 105px;
  left: 0px;
}

.black-key-common.Gb.top {
  top: 23px;
  left: 0px;
}

.Eb {
  top: 168px;
  left: 0px;
}

.black-key-common.Eb.top {
  top: 105px;
  left: 0px;
}

.Db {
  top: 210px;
  left: 0px;
}

.black-key-common.Db.top {
  top: 147px;
  left: 0px;
}

.grid {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.row {
  display: table-row;
  height: 20px;
  /* border-collapse: collapse; */
}

.row > div {
  display: table-cell;
  border: 1px solid #b0c4de;
  /* border-collapse: collapse; */
}

/*
.w-key.active {
  background-color: #e7feff;
}

.active-current {
  background-color: #f5deb3;
}

.now {
  background-color: #eff7ff;
}
*/
/* tr:nth-child(odd) {
  background-color: #e7feff;
}

tr:nth-child(even) {
  background-color: #d4f1f9;
} */
/*
レイアウトはとりあえずこれでOK
懸念点は描画スピード。鍵盤が増えたり、尺が伸びたときの影響が心配。

次にやること
・ローカルにうつして、Git管理しようかな？
・マウスホバー、currentStep で明度を上げる
・音によって色を変える　
.active:nth-child(11) でできるかな？

*/
